{{#discount}}
{{#if code}}
<div class="grid--full subtotal-grid sellify-ucd-discount-grid">
    <div class="ucd-discount-label">
        <p>Discount <span class="sellify-ucd-discount-code">({{code}})</span>
            <a class="remove-code sellify-ucd-remove-discount-code">
                <svg width="12px" height="10px" viewBox="0 0 12 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="MVMT-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="M---Filter-Tab---Open" transform="translate(-347.000000, -77.000000)" stroke-width="0.5" stroke="#2B2B2B" fill="#2B2B2B">
                            <g id="Filter---Open" transform="translate(0.000000, 60.000000)">
                                <polygon id="close-black"
                                         points="358 18 357 17 353 21 349 17 348 18 352 22 348 26 349 27 353 23 357 27 358 26 354 22"></polygon>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </p>
    </div>
    <div class="ucd-discount-val">
        <p>-{{{formatted_amount}}}
        </p>
    </div>
</div>
{{/if}}
{{/discount}}